

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="signup.component.css">
 </head>
 <body>
    <div class="wrapper">
       <div class="title" style="font-size: 20px;">
          Signup 
       </div>
       <form action="#">
          <div class="field">
             <input type="text" required>
             <label>Email Address</label>
          </div>

          <div class="field">
            <input type="text" required>
            <label>Username</label>
         </div>
    
          <div class="field" >
           <input type="password" required>
            <label>Password</label>
         </div>
          <br>
         
                    <div class="field">
             <input type="submit" value="Submit">
          </div>
         <h6>  &nbsp;  &nbsp;Already have an account? <a href="login-form">login here</a> </h6>
          <br>
       </form>
    </div>
 </body>
